{% load static %}
<!DOCTYPE html>
<html lang="es-CL">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Telegram Bot</title>
        <style>
            body {
                background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwallpapercave.com%2Fargentina-team-qatar-2022-wallpapers&psig=AOvVaw35cUgtTQi74tHok4f1TK4Q&ust=1669864071159000&source=images&cd=vfe&ved=0CBAQjRxqFwoTCNil28n21PsCFQAAAAAdAAAAABAD");
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center center;
            }
        </style>
    </head>

    <body>
        <header title="top-headbar">
            <div class="header-container">

            </div>
        </header>

        <div id="django-message">
            {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>

        <div class="main-content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>